



<div class="container" ng-controller="FriendsList">
        <div ng-init="friends = [
              {name:'Jacob', age:43, gender:'boy', superhero: 'Captain Caveman'},
              {name:'Annabelle', age:11, gender:'girl', superhero: 'Ninja Meer Kats'},
              {name:'Samantha', age:9, gender:'girl', superhero: 'Mulan'},
              {name:'Isaac', age:24, gender:'boy', superhero: 'Green Lantern'},
              {name:'Amanda', age:23, gender:'girl', superhero: 'Flash'},
              {name:'Kodi', age:21, gender:'boy', superhero: 'Captain America'},
            ]">
            I have {{friends.length}} friends. They are:
            <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
            <ul class="example-animate-container">
                <!--<li class="animate-repeat" ng-repeat="friend in friends">-->
                <!--[{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.-->
                <!--</li>-->
                <li ng-repeat="friend in friends"> {{friend.superhero}} {{friend.name}} {{friend.age}} {{friend.gender}} </li>
                <li class="animate-repeat" ng-if="results.length == 0">
                    <strong>No results found...</strong>
                </li>
                <!-- divs resulted in no style because I styled the 'li's' in my css.
                     thead and td do not work at all in terms of presenting the objects in ng-repeat.  ...maybe have to use li's?-->
            </ul>
        </div>
    </div>