

<div class="container" ng-controller="FriendsList">
<div ng-init="friends = [
  {name:'Jacob', age:43, gender:'boy'},
  {name:'Annabelle', age:11, gender:'girl'},
  {name:'Samantha', age:9, gender:'girl'},
  {name:'Isaac', age:24, gender:'boy'},
  {name:'Amanda', age:23, gender:'girl'},
  {name:'Kodi', age:21, gender:'boy'},
  {name:'Nancy', age:65, gender:'girl'},
  {name:'Les', age:62, gender:'boy'}
]">
    I have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
    <ul class="example-animate-container">
        <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
            [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
        </li>
        <li class="animate-repeat" ng-if="results.length == 0">
            <strong>No results found...</strong>
        </li>
    </ul>
</div>
</div>